table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #00c3ff;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgb(76, 87, 84);
    }
    td {
    background: #008eec;
    }
    th:first-child, td:first-child {
    text-align: left;
    }